<html x-ng-app = "" >
<head>
	<title>TIC TAC TOE</title>
	<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src = "js/main.js"></script>
	<link rel ="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

</head>

<body x-ng-controller="TTTController">
	<div class = "wrap">

		<h1> XO </h1>
		<div class = "container">
			<div class ="cells" x-ng-class-even="'even'" x-ng-class-odd="'odd'"  x-ng-repeat="b in board track by $index" x-ng-click ="clicks($index)">{{b}}</div>
			 <input type="button" value = "START A NEW GAME" x-ng-click="resetGame();"/>
		</div>
		<div id = "p1">Player One Score:</div>
		<div id = "p2">Player Two Score:</div>


               


	</div>



</body>
</html>


