

 .cells { 
	width:150px;
	height:150px;
	border:2px solid black;
	float:left;
	font-family: "oswald"; 
	font-size: 20px;
	text-align: center;
	line-height: 7.5;
}




.container{

width:500px;
margin: 80px auto;

}


.odd {
  background-color: black;
  color:white;
}
       

.even {
  background-color: white;
  color:black;
}