
body {
	background-image: url('../images/another.jpg')
}

 .cells { 
	width:150px;
	height:150px;
	border:2px solid black;
	float:left;
	font-family: 'Ruthie', 'cursive';
	font-weight: bold;
	font-size: 70px;
	text-align: center;
	line-height: 150px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}


h1{
	margin:50px 0px 0px -30px;
	font-size: 70px;
	text-align: center;
	font-family: 'Dancing Script', 'cursive';

}

.container{

width:500px;
margin: 40px auto;

}


.odd {
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
}
       

.even {
  background-color: rgba(255,255,255,0.4);
  color:black;
}

.Xmove{
	background:blue;
}

.Omove{
	background:pink;
}

.wrap {
	width:960px;
	margin:0 auto;
}